/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MAIN WINDOW */
.main-window {
  background-color: lightblue;
  display: flex;
  flex-grow: 1;
}

/* Sidebar */
.main-sidebar {
  background-color: #444;
  display: flex;
  flex-direction: column;
  flex-basis: 230px;
}

.main-sidebar .sidebar-top {
  background-color: red;
  flex-grow: 1;
}

.main-sidebar .sidebar-bottom {
  background-color: orange;
}

/* Content */
.content {
  background-color: grey;
  flex-grow: 1;
  position: relative;
}

.content .content-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content .scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 70px 15px 30px;
}

.content .scrollable .category {
  height: 400px;
}

/* PLAYER */
.player {
  background-color: yellow;
  height: 80px;
}
